<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobinets.digitaltwinlab.dao.DeviceLogMapper">

    <sql id="insertFields">
        device_name, device_id, operation, old_value, new_value,changeDate,operator_id
    </sql>

<!--    <sql id="selectFields">-->
<!--        device_id, device_name, type, create_time, change_time-->
<!--    </sql>-->


    <select id="selectAll" resultType="DeviceLog">
        select *
        from device_log where cleared = 0
    </select>


    <select id="selectById" resultType="DeviceLog">
        select *
        from device_log where device_id = #{deviceId} and cleared = 0
    </select>

    <select id="selectByUserId" resultType="DeviceLog">
        select *
        from device_log where operator_id = #{userId} and cleared = 0
    </select>

    <update id="clearLog">
        update device_log set cleared = 1 where changeDate &lt; #{timeNode}
    </update>

    <insert id="insertDeviceLog" parameterType="DeviceLog" keyProperty="id">
        insert into device_log (<include refid="insertFields"></include>)
        values(#{deviceName}, #{deviceId}, #{operation}, #{oldValue}, #{newValue}, #{changeDate}, #{operatorId})
    </insert>
</mapper>