<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobinets.digitaltwinlab.dao.RoomMapper">

    <sql id="insertFields">
        id, status, change_time
    </sql>

    <sql id="selectFields">
        id, status, change_time
    </sql>

    <select id="selectById" resultType="Room">
        select <include refid="selectFields"></include>
        from room
        where id = #{id}
    </select>

    <insert id="insertRoom" parameterType="Room" keyProperty="id">
        insert into room (<include refid="insertFields"></include>)
        values(#{id}, #{status}, #{changeTime})
    </insert>

    <update id="updateStatus">
        update room set status = #{status} where id = #{id}
    </update>

    <update id="updateChangeTime">
        update room set change_time = #{changeTime} where id = #{id}
    </update>

</mapper>