<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobinets.digitaltwinlab.dao.UserMapper">

    <sql id="insertFields">
        campus_num, username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <sql id="selectFields">
        id, campus_num, username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>
    <sql id="infoFields">
        id, campus_num, username, email, type, status, header_url, create_time
    </sql>
    <select id="selectById" resultType="User">
        select <include refid="infoFields"></include>
        from user
        where id = #{id} and if_deleted=0
    </select>

    <select id="selectByCampusNum" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where campus_num = #{campusNum}  and if_deleted=0
    </select>

    <select id="selectByUsername" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where username = #{username}  and if_deleted=0
    </select>

    <select id="selectByEmail" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where email = #{email}  and if_deleted=0
    </select>

    <select id="selectAll" resultType="User">
        select <include refid="infoFields"></include>
        from user where if_deleted=0
    </select>

    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into user (<include refid="insertFields"></include>)
        values(#{campusNum}, #{username}, #{password}, #{salt}, #{email}, #{type}, #{status}, #{activationCode}, #{headerUrl}, #{createTime})
    </insert>

    <update id="updateStatus">
        update user set status = #{status} where id = #{id}  and if_deleted=0
    </update>

    <update id="updateHeader">
        update user set header_url = #{headerUrl} where id = #{id}  and if_deleted=0
    </update>

    <update id="updateEmail">
        update user set email = #{email} where id = #{id}  and if_deleted=0
    </update>

    <update id="updatePassword">
        update user set password = #{password} ,salt=#{salt} where id = #{id}  and if_deleted=0
    </update>

    <update id="updateType">
        update user set type= #{type} where id= #{id} and if_deleted=0
    </update>

    <update id="deleteUser">
        update user set if_deleted = 1 where id =#{id} and if_deleted =0
    </update>
</mapper>