<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobinets.digitaltwinlab.dao.DeviceTypeMapper">

<!--    <sql id="insertFields">-->
<!--        deviceID, deviceType, deviceStatus, change_time, user_id-->
<!--    </sql>-->

    <sql id="selectFields">
        id, type_name, description
    </sql>


    <select id="selectAll" resultType="DeviceType">
        select *
        from device_type
    </select>
</mapper>