<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobinets.digitaltwinlab.dao.PermissionApplicationMapper">

    <sql id="insertFields">
        applicant_id,permission_apply_for,date
    </sql>

    <insert id="insertApplication" parameterType="PermissionApplication" keyProperty="id">
        insert into permission_application (<include refid="insertFields"></include>)
        values(#{applicantId}, #{permissionApplyFor}, #{date})
    </insert>

    <select id="selectAllApplication" resultType="PermissionApplication">
        select * from permission_application
    </select>
    <select id="selectById" resultType="PermissionApplication">
        select * from permission_application where id=#{id}
    </select>
    <update id="updateProcessedResult">
        update permission_application set if_processed=#{result},processed_date=#{date} where id= #{id}
    </update>

</mapper>